<launch>
    <!-- Load the urdf into the parameter server. -->
    <param name="my_robot_description" textfile="$(find simulator_setup)/robot/robotmodel.xml"/>
    <!--<param name="my_robot_description" textfile="$(find xacro)/xacro inorder '$(find simulator_setup)/robot/thisrobot.urdf.xacro'"/>-->

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
        <remap from="robot_description" to="my_robot_description" />
        <!-- <remap from="joint_states" to="different_joint_states" /> -->
    </node>
</launch>